body {
  margin: 0;
  padding: 0;
  background-color: #BCC9C5;
}

header {
  background-color: #316270;
  color: white;
  padding: 65px;
  text-align: center;
  border-bottom: 38px solid #F4F4F4;
  box-shadow: 0px 65px 0px #F9E4D6;
  font-size: 0.3em;
}

footer {
  background-color: #316270;
  color: white;
  padding: 45px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.3em;
}

.image-container {
  width: 100%;
  text-align: center;
  padding-top: 835px; 
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}